{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        {%for post in posts%}
        <div class="card">
            <div class="card-body" style="display: flex;">     
                <img src="{{post.profile.profile.profile_pic.url}}" alt="profile pic" style="border-radius: 30%;"
                width="35" height="35" class="img-fluid">
                <a href="{%url 'profile' post.profile.id%}" style="color: #333;">
                    <h5 class="card-title" style="padding-top: 10px; margin-left:10px">{{post.profile.username}}
                    </h5>
                </a>
            </div>
            <img src="{{post.image.url}}" alt="" class="img-fluid">
            <div class="card-body">
                <a href="{%url 'like' post.id%}">
                    <i class="fa fa-heart" style="font-size: 30px; margin-right:10px; color:red"></i>
                </a>
                <a href="{%url 'display_post' post.id%}"> 
                    <i style="font-size:40px" class="fa">&#xf0e6;</i>
                </a>
                
            </div>
            <p class="card-text ml-4" style="font-weight: bolder;padding-left: 15px;">{{post.likes}} likes</p>
            <div class="ml-4 mb-3"style="padding-left: 15px;">
                <p class="card-text">{{post.caption}}</p>
            </div>
            <div class="ml-4" style="padding-left: 15px;">
              
                <p class="card-text">Posted {{post.date_uploaded|timesince|upper}} ago</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}
