{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
  <div class="card">
    {%if profile.profile_pic%}
    <div class="view overlay">
      <img class="card-img-top " src="{{profile.profile_pic.url}}" alt="Card image cap" style="height: 250px; width: 250px">
    </div>
    {% endif %}

    <div class="card-body">
  
      <h4 class="card-title">Username : <strong>{{username}}</strong></h4>
      <p class="card-text"> {{profile.bio | safe }} </p>
      <hr>
      <ul>
        <li><span>{{post_number}}</span> posts</li>
        <li><span>{{profile.followers|length}}</span> followers</li>
        <li><span>{{profile.following|length}}</span> following</li>
      </ul>
  
    </div>
  
  </div>
   <a href="{%url 'edit_profile' %}" class="btn purple-gradient">Edit Profile</a>
    <hr>

</div>


{% endblock %}