{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
  <div class="card">

    <div class="view overlay">
      <img class="card-img-top " src="{{profile.profile_pic.url}}" alt="Card image cap" style="height: 250px; width: 250px">
    </div>

    <div class="card-body">
  
      <h4 class="card-title">Username : <strong>{{profile.user.username}}</strong></h4>
      <p class="card-text"> {{profile.bio | safe }} </p>
      <hr>
        <span>{{post_number}} posts</span> </br>
        <span>{{profile.followers|length}} followers</br> 
        <span>{{profile.following|length}} following</br> 
    </div>
  
{% endblock %}