{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
   

    {% if users %}
    <div class="text-center">
      <div class="panel" style="width: 45rem;">
            <div class="panel-body">
              {% for user in users%}
                        <div class="card">
                          {% if user.profile_pic%}
                            <div class="view overlay">
                            <img class="card-img-top" src="{{user.profile_pic.url}}"  alt="Card image">
                            </div>
                            {% endif %}
                            <div class="card-body">
                              <h4 class="card-title">{{user.user.username}}</h4>
                              <hr>
                              <h3 class="card-text"> {{user.bio}} </h3>
                            </div>
                            <div class="card-body">
                                <span>{{profile.followers|length}}followers</span> </br>
                                <span>{{profile.following|length}}following</span> 
                            </div>
                            
                            
                        </div>
                {% endfor %} 
                <a href="{%url 'index'%}" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>

    {% else %}

    <div class="row text-center">     
          <h2> {{message}}</h2>
    </div>
    {% endif %}

{% endblock %}